/mvnw text eol=lf
*.cmd text eol=crlf
# Forzar saltos de línea LF para scripts de Linux (Vital para Docker/CI)

*.sh text eol=lf

# Scripts de Windows siempre CRLF

mvnw.cmd text eol=crlf

# El resto que Git decida (auto)
* text=auto